/*============VARIABLES=============*/
:root {
	/*box-shadow: offset-x|offset-y|blur-radius|color*/
	--light-shadow: 0 0.5rem 2rem rgba(0, 0, 0, 0.1);
	--mid-shadow: 0 0.5rem 2rem rgba(0, 0, 0, 0.3);
	--dark-shadow: 0 0.5rem 2rem rgba(0, 0, 0, 0.5);
	--darkest-shadow: 0 0.5rem 4rem rgba(0, 0, 0, 0.7);
	--transition: all 0.4s linear;
	--transition-slow: all 2s linear;
	--letter-space-sml: 0.1rem;
	--letter-space-mid: 0.25rem;
	--letter-space-lrg: 0.5rem;

	/*PRIMARY COLORS*/
	--primary-green: #9acd32;
	--primary-green-dark: #228b22;
	/* grey / blue - used for headings */
	--clr-grey-blue-1: #102a42;
	--clr-grey-blue-2: #243a52;
	/* light grey used for paragraphs */
	--clr-light-grey-1: #617d98;
	--clr-light-grey-2: #829ab0;
	--clr-light-grey-3: #9eb2c7;
	--clr-light-grey-4: #d6dee6;
	/* dark shades of secondary color*/
	--clr-dark-blue-1: #063251;
	--clr-dark-blue-2: #104e7a;
	/* secondary/main color */
	--clr-blue-1: #1a6aa2;
	--clr-blue-2: #2d87c8;
	--clr-blue-3: #49a6e9;
	--clr-blue-4: #4da1ab;
	--clr-blue-5: #3056df;
	/* gradient colors */
	--grad-background-re-blue: linear-gradient(to bottom, #4da1ab, #305170);
	--grad-background-blue: linear-gradient(to bottom, #305170, #4da1ab);
	--grad-background-form: linear-gradient(to bottom right, #228b22, #063251, #9acd32);
	--grad-background-form-btn: linear-gradient(to bottom right, #9acd32, #228b22);
	--grad-blue-green: linear-gradient(to bottom right, #305170, #6dfc6b);
	--grad-green-blue: linear-gradient(to bottom right, #6dfc6b, #305170);
	--grad-blue-purple: linear-gradient(to bottom right, rgb(6, 50, 181), #70306a);
	--grad-li-blue: linear-gradient(to bottom right, #1cadd9, #1a32b5);
	--grad-grey-light: linear-gradient(to right bottom, rgba(#f7f7f7, 0.2), rgba(#eee, 0.2));
	/* other colors */
	--clr-white: #fff;
	--clr-black: #000;
	--clr-grey: #979b91;
	--clr-yellow: #ffcb05;
	--clr-yellow-dark: #c7a008;
	--clr-yellow-light: #ffdd64;
	--clr-orange: #ff8f00;
	--clr-red-dark: #bb2525;
	--clr-red-light: #e66b6b;
	--clr-green-dark: #25bb32;
	--clr-green: #6df305;
	--clr-green-light: #6be675;
	--clr-bright-red: #ff0000;

	--type-green: #99d98c;
	--type-dark-green: #76c893;
	--type-red: #ff4747;
	--type-dark-red: #c9030a;
	--type-blue: #1cadd9;
	--type-dark-blue-card: #1f8ec1;
	--type-purple: #b379f6;
	--type-dark-purple: #9b15f4;
}

/*======= FONTS =======*/
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap");

/*======= GLOBAL STYLES =======*/
*,
*::before,
*::after {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}
html {
	font-size: 62.5%;
}
body {
	display: flex;
	flex-direction: column;
}
h1 {
	font-size: 5rem;
}
h2 {
	font-size: 4rem;
}
h3 {
	font-size: 3rem;
}
h4 {
	font-size: 2.25rem;
	font-weight: 500;
}
p {
	font-size: 1.5;
}
ul {
	list-style-type: none;
	text-transform: uppercase;
}
a {
	text-decoration: none;
}

/*======= NAVBAR =======*/
nav {
	background: #222;
	box-shadow: var(--dark-shadow);
}
.navbar__header {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 1rem;
	text-align: center;
}
.navbar__heading {
	font-family: "Permanent Marker", cursive;
	font-weight: 500;
	font-size: 5rem;
	color: yellowgreen;
	transition: var(--transition);
	cursor: pointer;
}
@media screen and (max-width: 400px) {
	.navbar__heading {
		font-size: 4rem;
	}
}
@media screen and (max-width: 290px) {
	.navbar__heading {
		font-size: 3rem;
	}
}
.navbar__heading:focus,
.navbar__heading:hover {
	color: forestgreen;
}
.navbar__toggle {
	font-size: 3rem;
	background: transparent;
	border-color: transparent;
	color: yellowgreen;
	transition: var(--transition);
	cursor: pointer;
}
.navbar__toggle:hover,
.navbar__toggle:focus {
	transform: rotate(270deg);
	color: forestgreen;
}
.navbar__link {
	color: var(--clr-green-dark);
	font-size: 2rem;
	font-family: "Permanent Marker", cursive;
	letter-spacing: var(--letter-space-sml);
	padding: 1rem;
	display: block;
	transition: var(--transition);
}
.navbar__link:hover,
.navbar__link:focus {
	color: var(--primary-green);
	padding-left: 5rem;
	background: #111;
	border-radius: 1rem;
}
/*Hidden by default*/
.socials {
	display: none;
}
/*hides the links*/
.navbar__links {
	height: 0;
	overflow: hidden;
	transition: 0.3s;
	padding-right: 10rem;
}
/*toggled class to show links*/
.navbar__links--show {
	height: 20rem;
}

/*======= MEDIA QUERIES =======*/
/*screen is at least 800px*/
@media screen and (min-width: 830px) {
	.navbar {
		max-width: 1170px;
		margin: 0 auto;
		display: flex;
		align-items: center;
		justify-content: space-between;
		padding: 1rem;
	}
	.navbar__header {
		padding: 0;
	}
	/*hides btn*/
	.navbar__toggle {
		display: none;
	}
	.navbar__links {
		height: auto;
		display: flex;
		padding-left: 1rem;
	}
	.navbar__link {
		font-size: 2.5rem;
		font-family: "Permanent Marker", cursive;
		transition: var(--transition);
	}
	.navbar__link:hover,
	.navbar__link:focus,
	.navbar__link:active {
		padding: 1rem;
		background: transparent;
		transform: translateY(-1rem);
	}
	/*shows the socials when screen grows*/
	.socials {
		display: flex;
	}
	.socials__icon {
		font-size: 5rem;
		color: var(--primary-green-dark);
		cursor: pointer;
		transition: var(--transition);
		margin: 0 0.5rem;
	}
	.socials__icon:hover,
	.socials__icon:focus {
		color: var(--primary-green);
	}
}

/*======= MAIN CONTENT =======*/
.main {
	text-align: center;
	min-height: 100vh;
}
.main__heading {
	font-family: "Permanent Marker", cursive;
	font-weight: 500;
	color: yellowgreen;
	transition: var(--transition);
}
.main__heading:focus,
.main__heading:hover {
	color: forestgreen;
}

/*======= SERVICES =======*/
.services__container {
	text-align: center;
	max-width: 60rem;
	margin: 2rem auto 10rem auto;
	padding: 1rem;
	background-image: var(--grad-background-form);
	color: white;
	border-radius: 1rem;
	font-family: "Poppins", sans-serif;
	box-shadow: var(--dark-shadow);
	font-size: 2rem;
	min-height: 50vh;
}
.services__heading {
	font-weight: 500;
	color: var(--clr-white);
	padding: 1rem 0;
	text-transform: uppercase;
}
.services__list {
	display: flex;
	flex-direction: column;
	gap: 1rem;
	align-items: center;
}
.services__message {
	padding-top: 1rem;
	padding-left: 2rem;
	padding-right: 2rem;
}
.services__link {
	color: var(--clr-green-light);
	transition: var(--transition);
}
.services__link:hover,
.services__link:focus {
	color: #102a42;
}
/*======= MAIN =======*/
/* main {
	position: relative;
	height: 100%;
} */

/*======= FORM =======*/
.form__container {
	max-width: 60rem;
	margin: 1rem auto 8rem auto;
	padding: 1rem;
}
.form__message--success {
	background-image: var(--grad-background-form-btn);
	max-width: fit-content;
	margin: 0.5rem auto;
	padding: 0.5rem;
	font-size: 2rem;
	color: var(--clr-white);
	text-align: center;
}
.empty--field {
	font-size: 1.5rem;
	color: var(--clr-bright-red);
	font-weight: bold;
}
.form {
	max-width: 60rem;
	padding: 3rem;
	background-image: var(--grad-background-form);
	color: var(--clr-light-grey-4);
	display: flex;
	flex-direction: column;
	gap: 1rem;
	font-size: 2rem;
	justify-content: center;
	border-radius: 1rem;
	font-family: "Lato", sans-serif;
	box-shadow: var(--dark-shadow);
}
.form__name,
.form__email,
.form__number,
.form__text {
	font-size: 2rem;
	min-width: 35rem;
	border-radius: 1rem;
	padding-left: 1rem;
	padding-top: 0.5rem;
	padding-bottom: 0.5rem;
}
@media screen and (max-width: 420px) {
	.form__name,
	.form__email,
	.form__number,
	.form__text {
		min-width: 5rem;
		font-size: 1.5rem;
	}
	.form {
		padding: 2rem;
	}
}
.form__text {
	font-size: 2rem;
	font-family: "Lato", sans-serif;
}
.form__btn {
	background-image: var(--grad-background-form);
	color: var(--clr-white);
	font-size: 2rem;
	border: 1px solid var(--clr-grey-blue-1);
	border-radius: 1rem;
	text-align: center;
	text-transform: uppercase;
	padding: 0.5rem 1rem;
	max-width: fit-content;
	align-self: center;
	transition: var(--transition);
	box-shadow: var(--mid-shadow);
	cursor: pointer;
}
.form__btn:hover,
.form__btn:active {
	background-image: var(--grad-background-form-btn);
	transform: translateY(-0.5rem);
	box-shadow: var(--dark-shadow);
	color: var(--clr-light-grey-4);
	border: 1px solid var(--clr-grey-blue-1);
}
.form__btn:focus {
	background-image: var(--grad-background-form-btn);
	border: 1px solid var(--grad-green-blue);
	box-shadow: var(--dark-shadow);
	color: white;
	transform: translateY(-0.5rem);
}

/*======= FAQ =======*/
.faq__container {
	display: none;
	min-width: 50rem;
	padding: 1rem;
	margin: 5rem auto;
	background-image: var(--grad-background-form);
	min-height: 50vh;
}
.faq__heading {
	color: var(--clr-light-grey-4);
	padding-bottom: 1rem;
	text-align: center;
}
.faq__center {
	width: 90vw;
	margin: 0 auto;
	max-width: 620px;
}
.faq {
	background: #ddd;
	box-shadow: var(--light-shadow);
	border-radius: 1rem;
	padding: 0.5rem;
	margin-bottom: 2rem;
}
.faq__title {
	font-size: 2.5rem;
	letter-spacing: var(--letter-space-sml);
	text-transform: capitalize;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding-bottom: 1rem;
}
.faq__title p {
	color: var(--clr-dark-blue-1);
	margin-bottom: 0;
}
.faq__btn {
	cursor: pointer;
	background: transparent;
	border-color: transparent;
	font-size: 3rem;
	color: var(--clr-dark-blue-1);
	transition: var(--transition);
}
.faq__btn:hover,
.faq__btn:focus {
	transform: rotate(90deg);
}
.faq__text {
	padding: 1rem 0 1.5rem 0;
	border-top: 1px solid var(--mid-shadow);
}
.faq__text p {
	font-size: 2rem;
	margin-bottom: 0;
}
/* hide text by default */
.faq__text {
	display: none;
}
.faq__text--show {
	display: block;
	font-size: 2rem;
	padding: 0.5rem;
}
.faq__btn--minus {
	display: none;
}
.faq__btn--minus--show {
	display: inline;
}
.faq__btn--plus--hide {
	display: none;
}
/*======= MEDIA =======*/
.media__container {
	display: flex;
	flex-direction: column;
	gap: 3rem;
	justify-content: center;
	margin: 0 auto;
	padding: 2rem;
	padding-bottom: 8rem;
	min-height: 90vh;
	background-image: var(--grad-blue-green);
}
.media__item {
	margin: 0 auto;
}

/*======= SHOP =======*/
.shop__container {
	margin: 0 auto;
}
.shop__header {
	text-align: center;
	width: 50rem;
	margin: 0 auto;
	text-transform: uppercase;
}
.shop__heading {
	font-size: 3rem;
	font-family: "Permanent Marker", cursive;
	color: #000;
}
.shop--coming--soon {
	color: black;
	font-family: "Poppins", sans-serif;
	font-size: 6rem;
}
/*======= FOOTER =======*/
footer {
	background: #222;
	box-shadow: var(--dark-shadow);
	position: fixed;
	bottom: 0;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 8rem;
}
footer .socials {
	display: flex;
	padding: 1rem;
}
footer .socials__icon {
	font-size: 5rem;
	color: var(--primary-green);
	cursor: pointer;
	transition: var(--transition);
	margin: 0 0.5rem;
}
footer .socials__icon:hover,
.socials__icon:focus {
	color: var(--primary-green-dark);
}

