/*============VARIABLES=============*/
:root {
	/*box-shadow: offset-x|offset-y|blur-radius|color*/
	--light-shadow: 0 0.5rem 2rem rgba(0, 0, 0, 0.1);
	--mid-shadow: 0 0.5rem 2rem rgba(0, 0, 0, 0.3);
	--dark-shadow: 0 0.5rem 2rem rgba(0, 0, 0, 0.5);
	--darkest-shadow: 0 0.5rem 4rem rgba(0, 0, 0, 0.7);
	--transition: all 0.4s linear;
	--transition-slow: all 2s linear;
	--letter-space-sml: 0.1rem;
	--letter-space-mid: 0.25rem;
	--letter-space-lrg: 0.5rem;

	/*PRIMARY COLORS*/
	--primary-green: #9acd32;
	--primary-green-dark: #228b22;
	/* grey / blue - used for headings */
	--clr-grey-blue-1: #102a42;
	--clr-grey-blue-2: #243a52;
	--clr-grey-blue-3: #324d67;
	--clr-grey-blue-4: #48647f;
	/* light grey used for paragraphs */
	--clr-light-grey-1: #617d98;
	--clr-light-grey-2: #829ab0;
	--clr-light-grey-3: #9eb2c7;
	--clr-light-grey-4: #d6dee6;
	/* dark shades of secondary color*/
	--clr-dark-blue-1: #063251;
	--clr-dark-blue-2: #104e7a;
	/* secondary/main color */
	--clr-blue-1: #1a6aa2;
	--clr-blue-2: #2d87c8;
	--clr-blue-3: #49a6e9;
	--clr-blue-4: #4da1ab;
	--clr-blue-5: #3056df;
	/* gradient colors */
	--grad-main-heading: linear-gradient(to left, #1a32b5, #fc306a 10%, #1a32b5);
	--grad-background-re-blue: linear-gradient(to bottom, #4da1ab, #305170);
	--grad-background-blue: linear-gradient(to bottom, #305170, #4da1ab);
	--grad-background-form: linear-gradient(to bottom right, #228b22, #063251, #9acd32);
	--grad-background-form-btn: linear-gradient(to bottom right, #9acd32, #228b22);
	--grad-blue-green: linear-gradient(to bottom right, #305170, #6dfc6b);
	--grad-green-blue: linear-gradient(to bottom right, #6dfc6b, #305170);
	--grad-blue-purple: linear-gradient(to bottom right, rgb(6, 50, 181), #70306a);
	--grad-purple-blue: linear-gradient(to bottom right, rgb(162, 48, 106), #063251);
	--grad-li-blue: linear-gradient(to bottom right, #1cadd9, #1a32b5);
	--grad-grey-light: linear-gradient(to right bottom, rgba(#f7f7f7, 0.2), rgba(#eee, 0.2));
	/* other colors */
	--clr-white: #fff;
	--clr-black: #000;
	--clr-grey: #979b91;
	--clr-yellow: #ffcb05;
	--clr-yellow-dark: #c7a008;
	--clr-yellow-light: #ffdd64;
	--clr-orange: #ff8f00;
	--clr-pink: #fa709a;
	--clr-red-dark: #bb2525;
	--clr-red-light: #e66b6b;
	--clr-green-dark: #25bb32;
	--clr-green: #6df305;
	--clr-green-light: #6be675;
	--clr-bright-red: rgb(255, 0, 0);

	--type-green: #99d98c;
	--type-dark-green: #76c893;
	--type-red: #ff4747;
	--type-dark-red: #c9030a;
	--type-blue: #1cadd9;
	--type-dark-blue-card: #1f8ec1;
	--type-yell: #ffd15c;
	--type-dark-yell: #fcc55f;
	--type-purple: #b379f6;
	--type-dark-purple: #9b15f4;
	--type-brown: #c38e6f;
	--type-dark-brown: #bd764c;
	--type-dark: #6c757d;
	--type-dark-dark: #495057;
	--type-gray: #dee2e6;
	--type-dark-gray: #adb5bd;
	--type-gold: #c4a36e;
	--type-dark-gold: #b89151;
	--gray-light-1: #f7f7f7;
	--gray-light-2: #eee;
}

/*======= FONTS =======*/
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap");

/*======= GLOBAL STYLES =======*/
*,
*::before,
*::after {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}
html {
	font-size: 62.5%;
}
body {
	display: flex;
	flex-direction: column;
}
h1 {
	font-size: 5rem;
}
h2 {
	font-size: 4rem;
}
h3 {
	font-size: 3rem;
}
h4 {
	font-size: 2.25rem;
	font-weight: 500;
}
p {
	font-size: 1.5;
}
ul {
	list-style-type: none;
	text-transform: uppercase;
}
a {
	text-decoration: none;
}

/*======= NAVBAR =======*/
nav {
	background: var(--type-dark-dark);
	box-shadow: var(--dark-shadow);
}
.navbar__header {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 1rem;
	text-align: center;
}
.navbar__heading {
	font-family: "Permanent Marker", cursive;
	color: yellowgreen;
	transition: var(--transition);
	cursor: pointer;
}
.navbar__heading:focus,
.navbar__heading:hover {
	color: forestgreen;
}
.navbar__toggle {
	font-size: 4rem;
	background: transparent;
	border-color: transparent;
	color: yellowgreen;
	transition: var(--transition);
	cursor: pointer;
}
.navbar__toggle:hover,
.navbar__toggle:focus {
	transform: rotate(270deg);
	color: forestgreen;
}
.navbar__link {
	color: var(--clr-green-dark);
	font-size: 3rem;
	font-family: "Permanent Marker", cursive;
	letter-spacing: var(--letter-space-sml);
	padding: 1rem;
	display: block;
	transition: var(--transition);
}
.navbar__link:hover,
.navbar__link:focus {
	color: var(--primary-green);
	padding-left: 5rem;
	background: #222;
}
/*Hidden by default*/
.socials {
	display: none;
}
/*hides the links*/
.navbar__links {
	height: 0;
	overflow: hidden;
	transition: 0.3s;
	padding-right: 10rem;
}
/*toggled class to show links*/
.navbar__links--show {
	height: 25rem;
}

/*======= MEDIA QUERIES =======*/
/*screen is at least 800px*/
@media screen and (min-width: 800px) {
	.navbar {
		max-width: 1170px;
		margin: 0 auto;
		display: flex;
		align-items: center;
		justify-content: space-between;
		padding: 1rem;
	}
	.navbar__header {
		padding: 0;
	}
	/*hides btn*/
	.navbar__toggle {
		display: none;
	}
	.navbar__links {
		height: auto;
		display: flex;
		padding-left: 1rem;
	}
	.navbar__link {
		font-size: 3rem;
		font-family: "Permanent Marker", cursive;
	}
	.navbar__link:hover,
	.navbar__link:focus,
	.navbar__link:active {
		padding: 1rem;
		background: transparent;
		transform: translateY(-1rem);
	}
	/*shows the socials when screen grows*/
	.socials {
		display: flex;
	}
	.socials__icon {
		font-size: 4rem;
		color: var(--primary-green-dark);
		cursor: pointer;
		transition: var(--transition);
		margin: 0 0.5rem;
	}
	.socials__icon:hover,
	.socials__icon:focus {
		color: var(--primary-green);
	}
}

/*======= MAIN =======*/
main {
	position: relative;
	height: 100%;
}

/*======= FORM =======*/
.form__container {
	max-width: 60rem;
	margin: 5rem auto;
	padding: 1rem;
}
.form__message--success {
	background-image: var(--grad-background-form-btn);
	max-width: fit-content;
	margin: 1rem auto;
	padding: 1rem;
	font-size: 2rem;
	color: var(--clr-white);
	text-align: center;
}
.form {
	max-width: 60rem;
	padding: 5rem;
	background-image: var(--grad-background-form);
	color: var(--clr-light-grey-4);
	display: flex;
	flex-direction: column;
	gap: 2rem;
	font-size: 2rem;
	justify-content: center;
	border-radius: 1rem;
	font-family: "Lato", sans-serif;
	box-shadow: var(--dark-shadow);
}
.form__name,
.form__email,
.form__number,
.form__text {
	font-size: 2rem;
	min-width: 35rem;
	border-radius: 1rem;
	padding-left: 1rem;
	padding-top: 0.5rem;
	padding-bottom: 0.5rem;
}
.form__text {
	font-size: 2rem;
	font-family: "Lato", sans-serif;
}
.form__btn {
	background-image: var(--grad-background-form);
	color: var(--clr-white);
	font-size: 2rem;
	border: 1px solid var(--clr-blue-1);
	border-radius: 1rem;
	text-align: center;
	text-transform: uppercase;
	padding: 0.5rem 1rem;
	max-width: fit-content;
	align-self: center;
	transition: var(--transition);
	box-shadow: var(--mid-shadow);
	cursor: pointer;
}
.form__btn:hover,
.form__btn:active {
	background-image: var(--grad-background-form-btn);
	transform: translateY(-0.5rem);
	box-shadow: var(--dark-shadow);
	color: var(--clr-light-grey-4);
}

.form__btn:focus {
	border: 2px solid var(--grad-green-blue);
}
/*======= FOOTER =======*/
footer {
	background: var(--type-dark-dark);
	box-shadow: var(--dark-shadow);
	position: absolute;
	bottom: 0;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 10rem;
}
footer .socials {
	display: flex;
}
footer .socials__icon {
	font-size: 4rem;
	color: var(--primary-green);
	cursor: pointer;
	transition: var(--transition);
	margin: 0 0.5rem;
}
footer .socials__icon:hover,
.socials__icon:focus {
	color: var(--primary-green-dark);
}

